@model IEnumerable<Ckm.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12 ">
        Welcome

        <br />

        <a asp-controller="app" asp-action="trips"   class="btn btn-lg btn-success">trips</a>

    </div>

</div>




